<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="1" name="Test">
		<classes>
			<class name="AR.TestScripts.LoginTestcase" />
			<class name="AR.TestScripts.WorkspaceTestcase" />
			<class name="AR.TestScripts.IntakeReferralTestcases" >
				<methods>
               <include name="addRecord" />
            </methods>
			</class>
			<class name="AR.TestScripts.IntakeInformationTestcases" />
			<class name="AR.TestScripts.IntakeReferralFamilyInformationTestcases" />
			<class name="AR.TestScripts.IntakeReferralNarrativeTestcases" />
			<class name="AR.TestScripts.IntakeReferralSDMInitialTestcases" />
			<class name="AR.TestScripts.IntakeReferralSDMScreeningTestcases" />
			<class name="AR.TestScripts.IntakeReferralSDMDecisionTestcases" /> 
			<!--
			 --><!-- <class name="TestScripts.IntakeReferralSDMResponseAgencyTestcases" /> -->
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->